{"Getting Started" ["quickstart"]
 "Foundations" ["groups_and_structure"
                "dft_as_group_fourier"
                "symmetric_groups"
                "character_theory"
                "representation_matrices"
                "group_actions"]
 "Applications" ["random_transpositions"
                  "riffle_shuffle"
                  "product_group_dft"
                  "counting_necklaces"
                  "chord_geometry"
                  "hearing_symmetry"
                  "symmetry_sketchpad"]
 "Reference" ["algebraic_identities"
              "sympy_comparison"
              "complex_tensors"
              "ejml_integration"
              "api_reference"]}
